.flex-container[b-a4f23dpgph] {
    display: grid;
    align-content: center;
    grid-template-columns: 200px 100px 200px;
}

.btn-col[b-a4f23dpgph] {
    display: grid;
    align-items: center;
    justify-items: center;
}