<h3>Settings</h3>
<span>Be careful when changing these settings as they are application wide.</span>

<div class="row">
    <div class="col-lg-6">
        <label>Send Text Message on Emergency Selected Priority</label>
    </div>
    <div class="col-lg-6">
        
    </div>
</div>

@code {

}
