@using SACOMaintenance.Common.ModelDB
@using SACOMaintenance.DataAccess.Interfaces
@inject IGeneralRequest GeneralRequestDataProvider 

<h3>GeneralMaintReqComponent</h3>

@code {
    [Parameter]
    public int maintReqID { get; set; }


}
