
@using SACOMaintenance.Blazor.Server.Components
@using Microsoft.AspNetCore.Identity;
@inject UserManager<Common.ModelDB.User> _UserManager
@using Microsoft.AspNetCore.Http;
@using System.Security.Claims
@inject IHttpContextAccessor HttpContextAccessor

<h2>Dashboard</h2>

<hr />

<div class="row">
    <div class="col-lg-6">
        <RadzenFieldset Text="All Requests You Have Raised" Style="border-color: black" AllowCollapse="true">

        </RadzenFieldset>
    </div>
    <div class="col-lg-6">
        <RadzenFieldset Text="Authorise To Work Requests" Style="border-color: black" AllowCollapse="true">
            <RequestsNeedingApproval UserId="@UserId"></RequestsNeedingApproval>
        </RadzenFieldset>
    </div>
</div>


@code {
    [Parameter]
    public string UserId { get; set; }
}
