@using SACOMaintenance.Blazor.Server.Pages.Dashboard
@using SACOMaintenance.Blazor.Server.Components
@using Microsoft.Extensions.Configuration
@inject IConfiguration _configuration
@inject SACOMaintenance.ViewModel.Interfaces.IDashboardViewModel dashboardViewModel
@using SACOMaintenance.Common.ModelDB

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1>Dashboard for hh @dashboardViewModel.yearStart</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <RequestsPriorityInfoGroupComponent></RequestsPriorityInfoGroupComponent>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <RadzenFieldset Text="New Unassigned Requests">
                <MaintReqUnassigned></MaintReqUnassigned>
            </RadzenFieldset>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
             <RadzenFieldset Text="Data Graphs">
                <div class="row">
                    <div class="col-lg-6"><RequestsGraph></RequestsGraph></div>
                    <div class="col-lg-6"><RequestsYearGraphComponent></RequestsYearGraphComponent></div>
                </div>
                <div class="row">
                    <div class="col-lg-12"><RequestsMonthYearGraphComponent></RequestsMonthYearGraphComponent></div>
                </div>
            </RadzenFieldset>
        </div>
    </div>
</div>