@page "/part/full/{Id}"
@inject SACOMaintenance.ViewModel.Interfaces.IPartViewModel partViewModel
@using SACOMaintenance.Common.ModelDB

<h3>Full Part @partViewModel.SelectedPart.Name</h3>

<RadzenGrid Data="partViewModel.SelectedPart.Drawings" TItem="TechnicalDrawingsLocation">
    <Columns>
        <RadzenGridColumn TItem="TechnicalDrawingsLocation" Property="Id" Title="ID"></RadzenGridColumn>
        <RadzenGridColumn TItem="TechnicalDrawingsLocation" Property="DrawingFileLocation" Title="Location"></RadzenGridColumn>
        <RadzenGridColumn TItem="TechnicalDrawingsLocation" Property="DrawingFileLocation" Title="Action">
            <Template Context="drawingData">
                <RadzenButton Click=@(args => openDrawing(drawingData.DrawingFileLocation)) Text="View Drawing" ></RadzenButton>
            </Template>
        </RadzenGridColumn>
    </Columns>
</RadzenGrid>

<RadzenGrid Data="partViewModel.SelectedPart.SupplierParts" TItem="PartSupplier">
    <Columns>
        <RadzenGridColumn TItem="PartSupplier" Property="Id" Title="ID"></RadzenGridColumn>
        <RadzenGridColumn TItem="PartSupplier" Property="SupplierCode" Title="Supplier Code"></RadzenGridColumn>
        <RadzenGridColumn TItem="PartSupplier" Property="PartSupplierSingle.Name" Title="Supplier">
            <Template Context="data">
                @foreach (var supp in partViewModel.suppliers)
                {
                    if (supp.Id == data.SupplierId)
                    {
                        @supp.Name;
                    }
                }
            </Template>
        </RadzenGridColumn>
        <RadzenGridColumn TItem="PartSupplier" Property="Price" Title="Last Price"></RadzenGridColumn>
        <RadzenGridColumn TItem="PartSupplier" Property="SupplierId" Title="Actions">
            <Template Context="data">
                <a href="@($"supplier/full/{data.SupplierId}")" class="btn btn-primary table-btn">
                    <i class="fa fa-eye"></i>
                </a>
            </Template>
        </RadzenGridColumn>
    </Columns>
</RadzenGrid>



@code {
    [Parameter]
    public string Id { get; set; }

    protected override void OnInitialized()
    {
        partViewModel.LoadSinglePart(Convert.ToInt32(Id));
    }

    public void openDrawing(string fileLocation)
    {

        var p = new System.Diagnostics.Process();

        p.StartInfo = new System.Diagnostics.ProcessStartInfo(fileLocation)
        {
            UseShellExecute = true
        };

        p.Start();
    }
}
