@page "/ppe-list"
@inject SACOMaintenance.ViewModel.Interfaces.IPPEViewModel ppeViewModel
@using SACOMaintenance.Common.ModelDB
@*@using SACOMaintenance.DataAccess.Interfaces
@inject IPPE PPEDataProvider**@


<h3>PPE List</h3>

<RadzenGrid Data="@ppeViewModel.PPEList">
    <Columns>
        <RadzenGridColumn TItem="PPE" Property="Id"></RadzenGridColumn>
        <RadzenGridColumn TItem="PPE" Property="PPEName"></RadzenGridColumn>
        <RadzenGridColumn TItem="PPE" Property="IconLocation">
            <Template Context="data">
                <RadzenImage Path="@data.IconFileLocation" Style="width:30px"></RadzenImage>
            </Template>
            @*<img src="@ppeViewModel.IconLocation" class="ppe_image" />*@
        </RadzenGridColumn>
    </Columns>
</RadzenGrid>
