/* _content/SACOMaintenance.Blazor.Server/Components/RequestPriorityDashboardItem.razor.rz.scp.css */
/*
.card {
    text-align: center;   
}*/

/*.card-body {
    display: flex;
    justify-content: space-between;*/
    /*justify-content: space-between;*/
/*}*/

.RequestPriorityMain[b-uf00n0v108] {
    display: flex;
    /*flex-direction: row;
    flex-wrap: wrap;*/
    justify-content: space-between;
}

.requestPriorityCentre[b-uf00n0v108] {
   /* display: flex;*/
    justify-content: left;
    /*object-fit: fill;*/
}

.requestPriorityRight[b-uf00n0v108] {
    /*margin: auto;*/
    text-align: right;
}
/* _content/SACOMaintenance.Blazor.Server/Components/RequestRiskChoice.razor.rz.scp.css */
.container-full[b-t4da6dbceu] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.inner-radio-container[b-t4da6dbceu] {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
}

.container-outer[b-t4da6dbceu] {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    background-color: lightgray;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
}

.input-container[b-t4da6dbceu] {
    display: flex;
    position: relative;
    height: 4rem;
    width: 4rem;
    margin: 0.5rem;
}

    .radio-button-H[b-t4da6dbceu], .radio-button-M[b-t4da6dbceu], .radio-button-L[b-t4da6dbceu] {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        margin: 0;
        cursor: pointer;
    }

    .radio-tile-H[b-t4da6dbceu], .radio-tile-M[b-t4da6dbceu], .radio-tile-L[b-t4da6dbceu] {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        border: 2px solid red;
        border-radius: 5px;
        padding: 1rem;
        transition: transform 300ms ease;
    }

.radio-tile-M[b-t4da6dbceu] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 2px solid yellow;
    border-radius: 5px;
    padding: 1rem;
    transition: transform 300ms ease;
}
.radio-tile-L[b-t4da6dbceu] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 2px solid green;
    border-radius: 5px;
    padding: 1rem;
    transition: transform 300ms ease;
}
    .radio-button-H:checked + .radio-tile-H[b-t4da6dbceu] {
        background-color: red;
        border: 2px solid red;
        color: white;
        transform: scale(1.1, 1.1);
    }

    .radio-tile-label-H[b-t4da6dbceu] {
        color: white;
        background-color: red;
    }

    .radio-button-M:checked + .radio-tile-M[b-t4da6dbceu] {
        background-color: yellow;
        border: 2px solid yellow;
        color: white;
        transform: scale(1.1, 1.1);
    }

    .radio-tile-label-M[b-t4da6dbceu] {
        color: black;
        background-color: yellow;
    }

    .radio-button-L:checked + .radio-tile-L[b-t4da6dbceu] {
        background-color: green;
        border: 2px solid green;
        color: white;
        transform: scale(1.1, 1.1);
    }

    .radio-tile-label-L[b-t4da6dbceu] {
        color: white;
        background-color: green;
    }

/* _content/SACOMaintenance.Blazor.Server/Pages/Dashboard/RequestsPriorityInfoGroupComponent.razor.rz.scp.css */
.Priority-Cards[b-o7x39q8qvi] {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}

.Priority-Card[b-o7x39q8qvi]{
    flex: 0 1 24%;
}


@media screen and (max-width: 800px) {
    .Priority-Cards[b-o7x39q8qvi] {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .Priority-Card[b-o7x39q8qvi] {
        flex: 0 1 calc(25% - 1em);
    }
}
/* _content/SACOMaintenance.Blazor.Server/Pages/ReqInititation/AddMaintReq.razor.rz.scp.css */
.deptRadio[b-824upzzjap] {
    position: relative;
}

.radioBtn[b-824upzzjap] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.deptRdoLabel[b-824upzzjap] {
    display: inline-block;
    background-color: #ddd;
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 4px;
}

.deptRdoLabel:hover[b-824upzzjap] {
    background-color: #dfd;
}

.rdoButton:checked + label[b-824upzzjap] {
    background-color: red;
}

/* .deptRadio input[type="radio"]:focus + label {
    border: 2px dashed #444;
}

.deptRadio input[type="radio"]:checked + label {
    background-color: #bfb;
    border-color: #4c4;
}*/



/*.rdoLabel {
    margin-right: 2em;
    border: 2px dashed #444;
    padding: 2em;
}

.rdoLabel:hover {
    background-color: red;
    cursor: pointer;
}*/

/*.labelRadio:checked {
    background-color: blue;
}*/

/*.inputRdo:checked + .labelRadio {
    background-color: blue;
}*/

/*.inputRdo {
    opacity: 0;
    position: fixed;
    width: 0;
}*/



/* _content/SACOMaintenance.Blazor.Server/Shared/CbRadioGroup.razor.rz.scp.css */
.radio-toolbar input[type="radio"][b-vyvsl6v941] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.CbLabel[b-vyvsl6v941] {
    display: inline-block;
    background-color: #ddd;
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 4px;
    margin: 2px;
}

.radio-toolbar input[type="radio"]:checked + .CbLabel[b-vyvsl6v941] {
    background-color: #bfb;
    border-color: #4c4;
}

.radio-toolbar input[type="radio"]:focus + .CbLabel[b-vyvsl6v941] {
    border: 2px dashed #444;
}

.radio-toolbar .CbLabel:hover[b-vyvsl6v941] {
    background-color: #dfd;
}
/* _content/SACOMaintenance.Blazor.Server/Shared/SquareCheckBox.razor.rz.scp.css */

body[b-tv8wdhpw7e] {
    background: #585c68;
}

.wrapper[b-tv8wdhpw7e] {
    width: 780px;
    margin: 100px auto 0;
}

    .wrapper .title[b-tv8wdhpw7e] {
        font-size: 24px;
        color: #fff;
        font-weight: 700;
        text-align: center;
        margin-bottom: 50px;
    }

.container[b-tv8wdhpw7e] {
    display: flex;
    flex-wrap: wrap;
}

    .container .option_item[b-tv8wdhpw7e] {
        display: block;
        position: relative;
        width: 175px;
        height: 175px;
        margin: 10px;
    }

        .container .option_item .checkbox[b-tv8wdhpw7e] {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            opacity: 0;
        }

.option_item .option_inner[b-tv8wdhpw7e] {
    width: 100%;
    height: 100%;
    background: #ebebf2;
    border-radius: 5px;
    text-align: center;
    padding: 58px 40px;
    cursor: pointer;
    color: #585c68;
    display: block;
    border: 5px solid transparent;
    position: relative;
}

    .option_item .option_inner .icon[b-tv8wdhpw7e] {
        margin-bottom: 10px;
    }

        .option_item .option_inner .icon .fab[b-tv8wdhpw7e] {
            font-size: 32px;
        }

    .option_item .option_inner .name[b-tv8wdhpw7e] {
        user-select: none;
    }

.option_item .checkbox:checked ~ .option_inner.theme[b-tv8wdhpw7e] {
    border-color: #ff0000;
    color: #ff0000;
}

.option_item .option_inner .tickmark[b-tv8wdhpw7e] {
    position: absolute;
    top: 0;
    left: 0;
    border: 20px solid;
    border-color: #000 transparent transparent #000;
    display: none;
}

    .option_item .option_inner .tickmark[b-tv8wdhpw7e]:before {
        content: "";
        position: absolute;
        top: -18px;
        left: -18px;
        width: 15px;
        height: 5px;
        border: 3px solid;
        border-color: transparent transparent #fff #fff;
        transform: rotate(-45deg);
    }

.option_item .checkbox:checked ~ .option_inner .tickmark[b-tv8wdhpw7e] {
    display: block;
}

.option_item .option_inner.theme .tickmark[b-tv8wdhpw7e] {
    border-color: #ff0000 transparent transparent #ff0000;
}

