@using SACOMaintenance.ViewModel.Interfaces
@inject IRequestAuthorisation AuthViewModel

@AuthId

<div class="row">
    <div class="col-lg-12">
        <label>Comments/Rejection Reason</label>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <RadzenTextArea Style="width: 100%"></RadzenTextArea>
    </div>
</div>
<div class="row">
    <div class="col-lg-2">
        <button @onclick="@(() => Update("Approved"))" class="btn-outline-primary">Approve</button>
    </div>
    <div class="col-lg-2">
        <button @onclick="@(() => Update("Rejected"))" class="btn-outline-primary">Reject</button>
    </div>
</div>



@code {
    [Parameter]
    public int AuthId { get; set; }

    //TODO: Create method for approval and rejection
    void Update(string Type)
    {
        AuthViewModel.UpdateAuthorisationAcceptReject(AuthId, Type);
    }
}
