@inject SACOMaintenance.ViewModel.Interfaces.IUserRequestsAll userRequestAllViewModel
@using SACOMaintenance.Common.ModelDB
@using SACOMaintenance.Blazor.Server.Pages.ReqInititation

<AddMaintReq></AddMaintReq>

<div class="row">
    <div class="col-lg-12">
        <h1>Dashboard</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <RadzenFieldset Text="Commands">
            <div class="row">
                <div class="col-lg-3">
                    <RadzenLink Path="/maint-req/add" Text="Add New Maintenance Request"></RadzenLink>
                </div>
            </div>
        </RadzenFieldset>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <RadzenFieldset Text="Requests Requiring Approval">
            <label>You have no requests that require your approval.</label>
        </RadzenFieldset>
    </div>
</div>

@if (userRequestAllViewModel.Requests.Count > 0)
{
    <div class="row row-allrequest-table">
        <div class="col-lg-12">
            <RadzenFieldset Text="Your Open Requests" AllowCollapse="true">
                <div class="row">
                    <div class="col-lg-12">
                        <RadzenGrid Data="@userRequestAllViewModel.RequestsOpen" AllowColumnResize="true" AllowFiltering="true"
                                    AllowSorting="true">
                            <Columns>
                                <RadzenGridColumn TItem="MaintRequestInitiation" Property="Id" Title="Number"></RadzenGridColumn>
                                <RadzenGridColumn TItem="MaintRequestInitiation" Property="RequestDetails" Title="Description"></RadzenGridColumn>
                                <RadzenGridColumn TItem="MaintRequestInitiation" Property="Equipment.Name" Title="Equipment"></RadzenGridColumn>
                                <RadzenGridColumn TItem="MaintRequestInitiation" Property="DateRaised" Title="Date Raised"></RadzenGridColumn>
                                <RadzenGridColumn TItem="MaintRequestInitiation" Property="Status.StatusName" Title="Status"></RadzenGridColumn>
                                <RadzenGridColumn TItem="MaintRequestInitiation" Title="Staff Assigned">
                                    <Template Context="data">
                                        @foreach (var item in data.Users)
                                        {
                                            <img src="@item.AvatarLocation"
                                                 class="avatar-circle" width="50" height="50" />
                                        }
                                    </Template>
                                </RadzenGridColumn>
                            </Columns>
                        </RadzenGrid>
                    </div>
                </div>
            </RadzenFieldset>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-lg-12">
            <RadzenFieldset Text="Your Open Requests">
                <label>You have no requests outstanding</label>
            </RadzenFieldset>
        </div>
    </div>
}

<div class="row">
    <div class="col-lg-12">
        <RadzenFieldset Text="All Requests" AllowCollapse="true">
            <div class="row">
                <div class="col-lg-12">
                    <RadzenGrid Data="@userRequestAllViewModel.Requests" AllowColumnResize="true" AllowFiltering="true"
                                AllowSorting="true">
                        <Columns>
                            <RadzenGridColumn TItem="MaintRequestInitiation" Property="Id" Title="Number"></RadzenGridColumn>
                            <RadzenGridColumn TItem="MaintRequestInitiation" Property="RequestDetails" Title="Description"></RadzenGridColumn>
                            <RadzenGridColumn TItem="MaintRequestInitiation" Property="Equipment.Name" Title="Equipment"></RadzenGridColumn>
                            <RadzenGridColumn TItem="MaintRequestInitiation" Property="DateRaised" Title="Date Raised"></RadzenGridColumn>
                            <RadzenGridColumn TItem="MaintRequestInitiation" Property="Status.StatusName" Title="Status"></RadzenGridColumn>
                            <RadzenGridColumn TItem="MaintRequestInitiation" Title="Staff Assigned">
                                <Template Context="data">
                                    @foreach (var item in data.Users)
                                    {
                                        <img src="@item.AvatarLocation"
                                             class="avatar-circle" width="50" height="50" />
                                    }
                                </Template>
                            </RadzenGridColumn>
                        </Columns>
                    </RadzenGrid>
                </div>
            </div>
        </RadzenFieldset>
    </div>
</div>


@code {

    void showpopup()
    {
        ShowPopup = true;
    }


    bool ShowPopup = false;

    [Parameter]
    public string UserId { get; set; }
    [Parameter]
    public string FirstName { get; set; }

    protected async override Task OnInitializedAsync()
    {
        userRequestAllViewModel.LoadallRequestsForUserOpen(UserId);
        userRequestAllViewModel.LoadAllRequestsForUser(UserId);
    }
}
