
<div class="card text-white @color">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-6 requestPriorityCentre">
                <h1 class=@imageLocation />           
            </div>
            <div class="col-lg-6">
                <div class="requestPriorityRight">
                    <h2>@text</h2>
                    <h2>@count</h2>
                </div>            
            </div>
        </div>  
    </div>
</div>


@code {

    [Parameter]
    public string imageLocation { get; set; }

    [Parameter]
    public string color { get; set; }

    [Parameter]
    public string text { get; set; }

    [Parameter]
    public int count { get; set; }


}
