@inject SACOMaintenance.ViewModel.Interfaces.IRequestAuthorisation AuthViewModel
@using SACOMaintenance.Common.ModelDB 

<h3>Requests Needing Approval</h3>

<RadzenGrid Data="@AuthViewModel.AuthroizationsForUser">
    <Columns>
        <RadzenGridColumn TItem="AuthorizationRequest" Property="MaintRequestInitiationId"></RadzenGridColumn>
        <RadzenGridColumn TItem="AuthorizationRequest" Property="Satus"></RadzenGridColumn>
        <RadzenGridColumn TItem="AuthorizationRequest" Property="RequestedDate"></RadzenGridColumn>
    </Columns>
</RadzenGrid>

@code {
    [Parameter]
    public string UserId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Task.Run(async () =>
        {
            await AuthViewModel.MaintReqsNeedingApproval("AuthorityToWork", UserId , "Requested");
        }).Wait();
    }

}
