@inject SACOMaintenance.ViewModel.Interfaces.IRequestsGraphDateViewModel requestViewModel
@using Models.DTO
@using System.Globalization


<h3>Number of Requests By Year</h3>
<RadzenNumeric @bind-Value="@startYear"></RadzenNumeric>
<RadzenChart>
    <RadzenColumnSeries Data="@YearsList" CategoryProperty="YearName" Title="Year"
                        ValueProperty="YearNumber"></RadzenColumnSeries>
    <RadzenColumnOptions Radius="5" />
    <RadzenLegend Visible="false" />
    <RadzenValueAxis>
        <RadzenGridLines Visible="true" />
        <RadzenAxisTitle Text="Number of Status" />
    </RadzenValueAxis>
</RadzenChart>

@code {
    //TODO: workout why the years are going up in halfs i.e. 2019>2019.5>2020>2020.5
    public int startYear;// = 2019; //TODO: make this a global varibale that can be set on install or by user once logged in etc.
    public int currentYear = DateTime.Now.Year;
    public List<YearMaintenanceRequestModel> YearsList = new();

    protected override void OnInitialized()
    {
        Task.Run(async () => { await requestViewModel.GetRequests(); }).Wait();

        //UpdateStartYear();

        startYear = 2019;

        //if (YearsList.Count == 0)
        //{
        var yearDiffernce = (currentYear - startYear) + 1;

        while (yearDiffernce > 0)
        {
            YearsList.Add(new YearMaintenanceRequestModel { YearName = startYear.ToString(), YearNumber = 0 });
            startYear++;
            yearDiffernce--;
        }

        foreach (var item in requestViewModel.MaintReqs)
        {
            foreach (var yearItem in YearsList)
            {
                if (item.DateRaised.Year.ToString() == yearItem.YearName.ToString())
                {
                    yearItem.YearNumber++;
                }
            }
        }
        //}
    }

    public void UpdateStartYear()
    {
        if(YearsList.Count == 0)
        {
            var yearDiffernce = currentYear - startYear;

            while (yearDiffernce >= 0)
            {
                YearsList.Add(new YearMaintenanceRequestModel { YearName = startYear.ToString(), YearNumber = 0 });
                startYear++;
                yearDiffernce--;
            }

            foreach (var item in requestViewModel.MaintReqs)
            {
                foreach (var yearItem in YearsList)
                {
                    if (item.DateRaised.Year.ToString() == yearItem.YearName.ToString())
                    {
                        yearItem.YearNumber++;
                    }
                }
            }
        }
    }
}
