
<div class="card text-white @color" style="width: 18rem; height: 130px">
    <div class="card-header">
        <div class="row">
            <div class="col-lg-4">
                <div class="requestPriorityCentre">
                    <h1 class=@imageLocation />
                </div>               
            </div>
            <div class="col-lg-8">
                <div class="requestPriorityRight">
                    <h2>@text</h2>
                    <h2>235</h2>
                </div>            
            </div>
        </div>  
    </div>
</div>


@code {

    [Parameter]
    public string imageLocation { get; set; }

    [Parameter]
    public string color { get; set; }

    [Parameter]
    public string text { get; set; }
}
