@inject SACOMaintenance.ViewModel.Interfaces.IDashboardViewModel dashboardViewModel
@using SACOMaintenance.Common.ModelDB


<div class="containerDashNumberCount">
    <div class="card">
        <div class="card-body" style="width: 10px;">
            <h4 class="card-title" align="center">Open</h4>
            <p class="card-text, containerDashNumberCountNumber" align="center" >
            <containerDashNumberCountNumber>@dashboardViewModel.MaintReqsAssignedOpen.Count</containerDashNumberCountNumber></p>
        </div>
    </div>
</div>



    @code {

        protected override async Task OnInitializedAsync()
        {
            dashboardViewModel.LoadAssignedOpenReqs();
        }
    }
