@import '';

/* _content/SACOMaintenance.Blazor.Server/Shared/SquareCheckBox.razor.rz.scp.css */

body[b-tv8wdhpw7e] {
    background: #585c68;
}

.wrapper[b-tv8wdhpw7e] {
    width: 780px;
    margin: 100px auto 0;
}

    .wrapper .title[b-tv8wdhpw7e] {
        font-size: 24px;
        color: #fff;
        font-weight: 700;
        text-align: center;
        margin-bottom: 50px;
    }

.container[b-tv8wdhpw7e] {
    display: flex;
    flex-wrap: wrap;
}

    .container .option_item[b-tv8wdhpw7e] {
        display: block;
        position: relative;
        width: 175px;
        height: 175px;
        margin: 10px;
    }

        .container .option_item .checkbox[b-tv8wdhpw7e] {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            opacity: 0;
        }

.option_item .option_inner[b-tv8wdhpw7e] {
    width: 100%;
    height: 100%;
    background: #ebebf2; /*#fff;*/
    border-radius: 5px;
    text-align: center;
    padding: 58px 40px;
    cursor: pointer;
    color: #585c68;
    display: block;
    border: 5px solid transparent;
    position: relative;
}

    .option_item .option_inner .icon[b-tv8wdhpw7e] {
        margin-bottom: 10px;
    }

        .option_item .option_inner .icon .fab[b-tv8wdhpw7e] {
            font-size: 32px;
        }

    .option_item .option_inner .name[b-tv8wdhpw7e] {
        user-select: none;
    }

.option_item .checkbox:checked ~ .option_inner.theme[b-tv8wdhpw7e] {
    border-color: #ff0000;
    color: #ff0000;
}

.option_item .option_inner .tickmark[b-tv8wdhpw7e] {
    position: absolute;
    top: 0;
    left: 0;
    border: 20px solid;
    border-color: #000 transparent transparent #000;
    display: none;
}

    .option_item .option_inner .tickmark[b-tv8wdhpw7e]:before {
        content: "";
        position: absolute;
        top: -18px;
        left: -18px;
        width: 15px;
        height: 5px;
        border: 3px solid;
        border-color: transparent transparent #fff #fff;
        transform: rotate(-45deg);
    }

.option_item .checkbox:checked ~ .option_inner .tickmark[b-tv8wdhpw7e] {
    display: block;
}

.option_item .option_inner.theme .tickmark[b-tv8wdhpw7e] {
    border-color: #ff0000 transparent transparent #ff0000;
}


/*border-color: #3b5999 transparent transparent #3b5999;*/

