<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">SACO</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-dashboard" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="maintrequests-list" Match="NavLinkMatch.All">
                <span class="oi oi-book" aria-hidden="true"></span> View Requests
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/maint-req/add" Match="NavLinkMatch.All">
                <span class="oi oi-plus" aria-hidden="true"></span> Add New Request
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="areas" Match="NavLinkMatch.All">
                <span class="oi oi-map-marker" aria-hidden="true"></span> Areas
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="company-view-edit" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Companies
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ppe-list" Match="NavLinkMatch.All">
                <span class="oi oi-shield" aria-hidden="true"></span> PPE
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-fire" aria-hidden="true"></span> Risks
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="equipmentList" Match="NavLinkMatch.All">
                <span class="oi oi-wrench" aria-hidden="true"></span> Equipment
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="machinetype-view-edit" Match="NavLinkMatch.All">
                <span class="oi oi-cog" aria-hidden="true"></span> Machine Type
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="factories-view-edit" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Factories
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
