@page "/company-view-edit"
@inject SACOMaintenance.ViewModel.Interfaces.ICompanyViewModel companyViewModel
@using SACOMaintenance.Common.ModelDB 




<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <RadzenFieldset Text="Companies Information">
                <div class="row">
                    <div class="col-lg-2">
                        <RadzenListBox TValue="int" Data="@companyViewModel.companies" TextProperty="CompanyName"
                                       ValueProperty="Id" Name="companyListBox"
                                       Change=@(args => OnChange(args, "ListBox")) />
                    </div>
                    <div class="Col-lg-10">
                        <div class="area-form">
                            <div class="area-form-area">
                                <h3>Viewing @companyViewModel.company.CompanyName</h3>
                                <EditForm Model="@companyViewModel.company">
                                    <div class="form-group">
                                        <div class="form-group-row">
                                            <label style="font-weight:bold">Name</label>
                                            <InputText @bind-Value="companyViewModel.company.CompanyName" class="form-control"></InputText>
                                        </div>
                                    </div>
                                </EditForm>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <RadzenLabel Text="Maintenance Request for Company"></RadzenLabel>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10">
                        <RadzenGrid Data="@companyViewModel.company.MaintenanceRequestIniations" TItem="MaintRequestInitiation">
                            <Columns>
                                <RadzenGridColumn TItem="MaintRequestInitiation" Property="FullMaintCode" Title="Request Number"></RadzenGridColumn>
                                <RadzenGridColumn TItem="MaintRequestInitiation" Property="RequestDetails" Title="Details"></RadzenGridColumn>
                            </Columns>
                        </RadzenGrid>
                    </div>
                </div>
            </RadzenFieldset>
        </div>
    </div>
 </div>



@code {

    protected async override Task OnInitializedAsync()
    {
        //Task.Run(async () => { await companyViewModel.LoadSingleCompany(0); }).Wait();
}

    async Task OnChange(object value, string name)
    {
         Task.Run(async () => { await companyViewModel.LoadSingleCompany(Convert.ToInt32(value)); }).Wait();
    }
}
