@page "/factories-view-edit"
@inject SACOMaintenance.ViewModel.Interfaces.IFactoryViewModel factoryViewModel
@using SACOMaintenance.Common.ModelDB

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1>Factories</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <RadzenLabel Text="Select Factory"></RadzenLabel>
        </div>
        <div class="col-lg-4">     
            <RadzenDropDown TValue="int" Data="@factoryViewModel.factories" TextProperty="FactoryName"
                            ValueProperty="Id" Name="factoryDropDown"
                            Change=@(args => OnChange(args, "DropDown")) />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <RadzenFieldset Text="Factory Information" Style="border-color: black">
                <div class="row">
                    <div class="col-lg-1">
                        <RadzenLabel Text="Name"></RadzenLabel>
                    </div>
                    <div class="col-lg-4">
                        <RadzenTextBox @bind-Value="factoryViewModel.FactoryName" Style="border-color: black; width: 100%"></RadzenTextBox>
                    </div>
                    <div class="col-lg-1">
                        <button class="btn btn-primary" @onclick="@UpdateArea">Save</button>
                    </div>
                    <div class="col-lg-2">
                        <button class="btn btn-primary">Add New Area</button>
                    </div>
                </div>
            </RadzenFieldset>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <RadzenFieldset Text="Areas Inside Selected Factory" Style="border-color: black">
                <div class="row">
                    <div class="col-lg-12">
                        <RadzenGrid Data="@factoryViewModel.factory.Areas">
                            <Columns>
                                <RadzenGridColumn TItem="AreaModel" Property="Id" Title="Id" Width="50px"></RadzenGridColumn>
                                <RadzenGridColumn TItem="AreaModel" Property="AreaName" Title="Area Name"></RadzenGridColumn>
                                <RadzenGridColumn TItem="AreaModel" Property="CommentsNotes" Title="Comments/Notes"></RadzenGridColumn>
                            </Columns>
                        </RadzenGrid>
                    </div>
                </div>
            </RadzenFieldset>
        </div>
    </div> 
</div>
        






@code {

    void OnChange(object value, string name)
    {        
        factoryViewModel.LoadSingleFactory(Convert.ToInt32(value));
    }

    private void UpdateArea(MouseEventArgs e)
    {
        //areaViewModel.SaveArea(areaViewModel.area);
    }

}
