@page "/testpage"
@inject SACOMaintenance.ViewModel.IAreaViewModel areaViewModel
@using SACOMaintenance.Common.ModelDB

<h3>Test Page</h3>


<RadzenGrid Data="@areaViewModel.areas">
        <Columns>
            <RadzenGridColumn TItem="AreaModel" Property="Id"></RadzenGridColumn>
            <RadzenGridColumn TItem="AreaModel" Property="AreaName"></RadzenGridColumn>
            <RadzenGridColumn TItem="AreaModel" Property="areaViewModel.Id" Title="Actions" Filterable="false">
                <Template Context="data">
                    <a href="@($"editarea/{data.Id}")" class="btn btn-primary table-btn">
                        <i class="fa fa-pencil-square"></i>
                    </a>
                </Template>
            </RadzenGridColumn>
        </Columns>
   </RadzenGrid>

 

@code {

    protected override void OnInitialized()
    {
        areaViewModel.Load();
    }

}
